<div id="wrapper">
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="../index.html" class="logo">
                <span class="symbol"><img src="../../assets/res/logo.svg" alt=""/></span><span class="title">AUGUS</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
</div>