<div id="wrapper">
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary"/></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a href="https://twitter.com/RookieAugus" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://facebook.com/dr.bit.augus" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/augusbie" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <!--									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>-->
                    <li><a href="https://github.com/DrAugus" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                    <!--                    									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>-->
                    <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                    <li><a href="mailto:bramlye@outlook.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </section>
            <section>
                <span class="STYLE1" id=jnkc>
                    <script>setInterval("jnkc.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt (new Date().getDay());",1000);</script>
                </span>
            </section>
            <ul class="copyright">
                <p class="copyright">&#xA9; <span id="currentFullYear"></span>. All rights reserved. Design:<a
                        href="https://github.com/DrAugus">AUGUS</a>.</p>
                <script type="text/javascript">
                    var currentFullYear = (new Date()).getFullYear();
                    document.getElementById('currentFullYear').innerHTML = currentFullYear;
                </script>
            </ul>
        </div>
    </footer>
</div>