<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% if page.title %}
            {{ page.title | escape }}
            {% else %}
            {{ site.title | escape }}
            {% endif %}
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/augus.ico"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/materialize.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>

        {% for css in layout.css %}
        {% if css contains "//" %}
        <link rel="stylesheet" href="{{css}}"/>
        {% else %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
        {% endif %}
        {% endfor %}

        <!--并不知道下面注释是在写什么-->
        {% for css in page.css %}
        {% if css contains "//" %}
        <link rel="stylesheet" href="{{css}}"/>
        {% else %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
        {% endif %}
        {% endfor %}


        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css"/>
        <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml"/>
        {% seo title=false %}
    </head>
    <body>
        <header>
            <nav class="top-nav teal">

                <!--粒子效果-->
                <div class="particles-wrapper">
                    <canvas class="particles"></canvas>
                </div>

                <div class="nav-wrapper">
                    <div class="container">
                        <a class="page-title" href="{{site.baseurl}}/">{{site.title}} 白露未晞</a>
                        <p class="head-message">多情自古空余恨&nbsp;&nbsp;好夢由來最易醒</p>
                    </div>
                </div>

            </nav>

            <div class="container">
                <a href="#" data-target="slide-out" class="sidenav-trigger top-nav full hide-on-large-only">
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <ul id="slide-out" class="sidenav sidenav-fixed" style="background-color:#c4bdbd">
                <li>
                    <div class="userView">
                        <img class="user-bg" src="{{site.baseurl}}/assets/res/img.png" alt=""/>
                        <a class="user-avatar" href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.jpg" width="64" alt=""></a>
                        <div class="cyan-text user-info">
                            {{site.user}}<br>
                            <a href="mailto:{{site.user_email}}"><span class="email">{{site.user_email}}</span></a>
                        </div>
                    </div>
                </li>
                <li><a class="waves-effect" href="{{site.baseurl}}/index"><i class="material-icons">home</i>Home</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">description</i>Projects</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>Categories</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">flag</i>Tags</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>About</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/contact-thanks"><i class="material-icons">mark_email_unread</i>Contact&Thanks</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/index"><i class="material-icons">eco</i>Blog</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/aerial/index"><i class="material-icons">explore</i>Intro</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/style-matter/index"><i class="material-icons">transfer_within_a_station</i>Matter</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/editorial/index"><i class="material-icons">article</i>Editorial</a></li>
            </ul>

        </header>
        <main>