
/*可以用作论文样式*/

@media (min-width: 610px) {
        body {
                width: 600px;
        }
}
@media (max-width: 610px) {
        body {
                width: 80%;
        }
}
html {
        font-family: 'Crimson Text', serif;
}
body {
        margin: auto;
}
a:link{
        color: inherit;
}
footer{
        margin-bottom: 30px;
}
article{
        counter-reset: heading;
}
article h2::before{
        counter-increment: heading;
        content: '0'counter(heading)': ';
}
#toc h2 {
        text-transform: uppercase;
        font-size: 11pt;
        letter-spacing: 2px;
}
#toc h3 {
        font-weight: normal;
        font-size: inherit;
}
