---
---
main
  div
    .row
      margin-top: 20px

  ul
    &:not(.browser-default)
      &.pagination
        padding-left: 0

        li
          a
            &:hover
              text-decoration: none

#post-title
  margin-bottom: 2px
  font-weight: bold

#post-date
  margin-bottom: 8px
  font-size: 14px

  i
    font-size: 11.5px
    margin-right: 10px

#post-content
  margin-top: 5px

.card
  position: relative
  margin: 0.5rem 0 1rem 0
  background-color: #fff
  -webkit-transition: -webkit-box-shadow .25s
  transition: -webkit-box-shadow .25s
  transition: box-shadow .25s
  transition: box-shadow .25s, -webkit-box-shadow .25s
  border-radius: 2px
  background: -webkit-linear-gradient(10deg, rgba(91, 210, 87, 0.5) 10%, rgba(231, 73, 139, 0.5) 90%)
  background: linear-gradient(10deg, rgba(91, 210, 87, 0.5) 10%, rgba(231, 73, 139, 0.5) 90%)

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)
  color: #ef2bce
