---

---

@font-face
  font-family: 'JetBrains Mono'
  src: url(/assets/font/JetBrainsMono-Regular.ttf)

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args



code[class*=language-], pre[class*=language-] 
  color: #fff
  background: none
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace
  font-feature-settings: normal
  text-align: left
  white-space: pre
  word-spacing: normal
  word-break: normal
  word-wrap: normal
  line-height: 1.5
  margin-bottom: 0
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4
  -webkit-hyphens: none
  -ms-hyphens: none
  hyphens: none

pre[class*=language-]
  overflow: auto
  padding: 1.3125rem

pre[class*=language-]::selection
  background: #27292a

pre[class*=language-]::selection, pre[class*=language-] ::selection
  text-shadow: none
  background: hsla(0, 0%, 100%, .15)

\:not(pre)
  & > code[class*=language-]
    border-radius: .3em
    background: var(--inlineCode-bg)
    color: var(--inlineCode-text)
    padding: .15em .2em .05em
    white-space: normal

.gatsby-highlight-code-line
  background-color: #022a4b
  display: block
  padding-right: 1em
  padding-left: 1.25em
  border-left: .25em solid #ffa7c4


.gatsby-highlight, .gatsby-highlight-code-line
  margin-right: -1.3125rem
  margin-left: -1.3125rem


.gatsby-highlight
  margin-bottom: 1.75rem
  border-radius: 10px
  background: #011627
  -webkit-overflow-scrolling: touch
  overflow: auto

@media (max-width: 672px)
.gatsby-highlight
  border-radius: 0

.gatsby-highlight pre[class*=language-]
  float: left
  min-width: 100%







  

main
  div
    .divider
      margin: 10px 0

    &.highlighter-rouge
      margin: 1em 20px

      pre
        padding: 5px

  blockquote
    color: #888
    background: #e2e2e2
    border-left-color: #d2d2d2
    overflow: hidden

  figure
    &.highlight
      margin: 1em 20px

      pre
        white-space: pre-wrap

      table
        width: auto

#post-info
  h3
    font-weight: bold
    margin-bottom: 15px

  ul
    &:not(.browser-default)
      padding-left: 0
      width: 40%

      li
        list-style-type: none

  span
    font-size: 14px
    display: block
    margin-bottom: 5px

    i
      font-size: 11.5px
      margin-right: 10px

      &#indicate
        font-size: 20px

    .chip
      color: #616161
      margin-right: 5px

      &:hover
        color: #fff
        background-color: #616161

      @include transition(all .3s ease-in-out)

#post-content
  table, th, td
    border: 1px solid #ccc

  table
    thead
      tr
        background: #e7e8e9

      th
        text-align: center

    tbody
      tr:nth-child(2n + 1)
        background: #f7f7f7

@media only screen and (max-width: 992px)
  #post-info
    h3
      text-align: center

    ul
      &:not(.browser-default)
        width: 100%