<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">SOURCE</a>
    {% endif %}
    <!--直奔主题 -->
    <a href="{{site.baseurl}}/style/index.html" title="我现在坏掉了没法跳转" class="btn">INTRO</a>
    <a href="{{site.baseurl}}/style-matter/index.html" title="我现在坏掉了没法跳转" class="btn">MATTERS</a>
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
</header>


    <!-- 自动生成导航目录 -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <style>
        #auto-content-bar {
            padding-right: 0;
        }

        .auto-menu {
            width: 120px;
            background: rgba(0, 0, 0, 0);
            border: 1px #32c6c6 solid;
            border-radius: 4px;
            position: fixed;
            right: 0;
            padding: 0 6px;
        }

        .auto-menu a {
            width: 100%;
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }
    </style>
    <script>
        $(document).ready(function (e) {
            $("#auto-content-bar").children().each(function (index, element) {
                var tagName = $(this).get(0).tagName;
                if (tagName.substr(0, 1).toUpperCase() == "H") {
                    var contentH = $(this).html();//获取内容
                    var markID = "mark-" + tagName + "-" + index.toString();
                    $(this).attr("id", markID);//为当前h标签设置ID
                    $(".auto-menu").append("<a href='#" + markID + "'>" + contentH + "</a>");//在目标div中加入内容
                }
            });
        });
    </script>


</body>
</html>