---
layout: post
title:  "再也不用考虑今天吃什么了"
date:   2021-09-24 11:00:02
categories: 杂谈
tags: 杂谈 外卖
---

<h2>外卖推荐</h2>

<div class="container">
    <table id="myTableSort" class="tablesorter">
        <thead>
        <tr>
            <th>商家</th>
            <th>商品</th>
            <th>价格</th>
            <th>味道</th>
            <th>评级</th>
            <th>副作用</th>
        </tr>
        </thead>
        <tbody>
            <tr><td> 汉库麻辣香锅(紫金港店)</td><td> 香辣-六荤五素单人豪华餐+土豆粉+雪碧 </td><td> ￥18.67</td><td> ❤❤❤❤❤ </td><td> ❤❤❤🤍🤍</td><td> 下午会饿 偶现胃痛 </td></tr>
            <tr><td> 华莱士·全鸡汉堡(浙港广场店) </td><td> 六件自助-黑胶嫩牛五方+牛气冲天堡+脆皮全腿+鸡米花+香芋派+中可 </td><td> ￥23.8</td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤🤍 </td><td>  </td></tr>
            <tr><td> 胖次打面团.烤包.拌粉(城西银泰店)</td><td> 双主食烤包自选豪华四件套-招牌香酥鸡炭火烤包+铁板烤肉拌粉+可乐+无小食</td><td> ￥24.8 </td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤🤍 </td><td> 下午会饿 </td></tr>
            <tr><td> 小孔哥湖南津市牛肉粉(太合店) </td><td> 招牌辣椒炒肉汤粉微辣+卤鸡腿 </td><td> ￥17.99 </td><td> ❤❤❤🤍🤍 </td><td> ❤❤🤍🤍🤍 </td><td> 16:30会饿 </td></tr>
            <tr><td> 黔缘花溪·苗家牛肉粉(浙大紫金港店)</td><td> 金汤肥牛汤粉+椒盐炸脆菇+公牛肉饼 </td><td> ￥21 </td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤🤍 </td><td> 下午会饿 </td></tr>
            <tr><td> 漠漠家.胡辣汤.焖面.肉夹馍(杭州城西店) </td><td> 焖面自选+可乐+韭菜盒子+加香菜葱花 </td><td> ￥15.79 </td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤🤍 </td><td> 会腻 </td></tr>
            <tr><td> 芝根披萨PIZZA </td><td> mini自选-精选芝士披萨 </td><td> ￥9.9 </td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤❤ </td><td> 仅作小食 </td></tr>
            <tr><td> 杜小姐在西北·凉皮·肉夹馍·酸辣粉(太和中心店)</td><td> 岐山臊子面+老潼关肉夹馍 </td><td> ￥23.8 </td><td> ❤❤❤❤❤ </td><td> ❤❤❤❤❤ </td><td>  </td></tr>
        </tbody>
        <tfoot>
        <tr>

        </tr>
        </tfoot>
    </table>
</div>



<h2>拉黑商家</h2>

<ul>
    <li>河南大烩菜</li>
    <li>陕老顺.油泼面.凉皮.肉夹馍(祥符街道店)</li>
    <li>私町Osaka食堂外带寿司(五洲国际广场店)</li>
    <li>遇膳•黄焖鸡米饭•过桥米线(美林湾店)</li>
    <li>东北饺子坊-凉皮凉面</li>
    <li>秦小二油泼面肉夹馍凉皮臊子面</li>
    <li></li>
</ul>

<h3>test baidu map</h3>
<div class="container"></div>
<script type="text/javascript">
    function initialize() {
        var mp = new BMapGL.Map('map');
        mp.centerAndZoom(new BMapGL.Point(121.491, 31.233), 11);
    }

    function loadScript() {
        var script = document.createElement("script");
        script.src = "https://api.map.baidu.com/api?v=1.0&type=webgl&ak=DHQmvz9qGEdsPhzbaKwUPk0LnO4dWMCp&callback=initialize";
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>

