---
layout: default
css: [
    "page.css"
]
js: [
    "particles.min.js",
    "materialize.min.js",
    "main.js",
    "search.js"
]
---
<div id="page-info">
  <h3 class="page-title white-text">{{page.title}}</h3>
</div>
<div class="row">
  {{ content }}
</div>