---
layout: default
css: [
    "post.css",
    "page.css",
    "syntax.css",
    "article-content.css",
]
js: [
    "materialize.min.js",
    "post.js",
    "particles.min.js",
    "main.js",
    "search.js",
    "gen-category.js"
]
---
<div id="post-info">
  <h3 class="page-title white-text">{{page.title}}</h3>
  <ul class="collapsible hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header grey lighten-4">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date">date_range</i>
          {{page.date | date: "%d/%m/%Y %H:%M"}}
<!--            <div id="busuanzi_container_site_pv">点击量：<span style="display: inline;" id="busuanzi_value_page_pv"></span>次</div>-->
          <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Show Extra Info">info</i>
        </span>
      </div>
      <div class="collapsible-body">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Categories">sort</i>
          {% for cat in page.categories %}
          {% capture test %}{{cat | slice: 0}}{% endcapture %}
          {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{cat}}</div></a>
          {% endfor %}
        </span>
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Tags">label</i>
          {% for tag in page.tags %}
          {% capture test %}{{tag | slice: 0}}{% endcapture %}
          {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{tag}}</div></a>
          {% endfor %}
        </span>
      </div>
    </li>
  </ul>
</div>
<div class="divider"></div>
<div id="post-content" class="row">
  <div class="col s12">
    {{ content }}
  </div>
</div>

{% if site.disqus_shortname and page.comments %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{site.url}}{{site.baseurl}}{{page.url}}";
    this.page.identifier = "{{page.id}}";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
